:root {
    --brand-color: #2196F3;
    --brand-color-one: #FFFFFF;
    --brand-color-two:#000000;
    --brand-color-three:#F5F4FA;
    --brand-color-four: #757575;
    --brand-color-five:#E5E5E5;
    --brand-color-six:#2F303A;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}


.list {
    list-style-type: none;
}

.logo {
    color: var(--brand-color);
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--brand-color-two);
}


.link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
}

.link:hover, 
.link:focus {
    color: var(--brand-color);
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--brand-color-three);
    cursor: pointer;
}

.button:hover {
    background-color: var(--brand-color);
    color: var(--brand-color-one);
}

.title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    color: var(--brand-color-one);
}

.item {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--brand-color-one);
}


.title-fourth {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color-four);
}

.title-second {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.title-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-img {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--brand-color-four);
}


.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-four);
}

.list .link-color {
    color: rgba(255, 255, 255, 0.6)
}

.contact-details {
    color: var(--brand-color-four);
}

.mail {
    text-decoration: underline;
}

.text-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: unset;

}

.text-color {
    color: var(--brand-color-one);
}

.background-first {
    background-color: var(--brand-color-five);
}

.background-second {
    background-color: var(--brand-color-three);
}

.background-title {
    background-color: var(--brand-color-six);
}

.background-header {
    background-color: var(--brand-color-one);
}

.background-main {
    background-color: var(--brand-color-five);
}

.background-footer {
    background-color: var(--brand-color-six);
}